.feed {
    border: 1px solid rgb(53, 108, 156,.5);
    min-width: 200px;
    overflow-y: inherit;
    height: 50%;
    width: 100%;
  }

  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .feed_header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid rgb(103, 106, 109);
    padding: 15px 20px;
  }
  
  .feed_header > h2 {
    font-size: 20px;
    font-weight: 800;
  }